{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Ticket index</h1>
    <a role="button" class="btn btn-info mb-2" href="{{ path('app_ticket_new') }}">Create new</a>
    <div style="height: 400px" class="table-responsive d-inline-block" overflow: auto>
    <table class="table table-bordered border-light table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Annee</th>
                <th class="text-center">NumeroTicket</th>
                <th class="text-center">DateVente</th>
                <th class="text-center">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td class="text-center">{{ ticket.annee }}</td>
                <td class="text-center">{{ ticket.numeroTicket }}</td>
                <td class="text-center">{{ ticket.dateVente ? ticket.dateVente|date('Y-m-d H:i:s') : '' }}</td>
                <td class="text-center">
                    <a role="button" class="btn btn-light" href="{{ path('app_ticket_show', {'annee': ticket.annee}) }}">Voir</a>
                    <a role="button" class="btn btn-info" href="{{ path('app_ticket_edit', {'annee': ticket.annee}) }}">Modifier</a>
                    <a role="button" class="btn btn-primary" href="{{ path('app_ticket_edit', {'annee': ticket.annee}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
