{% extends 'base.html.twig' %}

{% block title %}Continents{% endblock %}

{% block body %}
    <h1>Liste des continents</h1>
    <a href="{{ path('app_continent_new') }}">Nouveau continent</a>
       <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id du continent</th>
                <th>Nom du continent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for continent in continents %}
            <tr>
                <td>{{ continent.idContinent }}</td>
                <td>{{ continent.nomContinent }}</td>
                <td>
                    <a href="{{ path('app_continent_show', {'idContinent': continent.idContinent}) }}">show</a>
                    <a href="{{ path('app_continent_edit', {'idContinent': continent.idContinent}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
