{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}
    <h1>{% trans %}Liste des pays{% endtrans %}</h1>
    <a role="button" class="btn btn-info mb-2" href="{{ path('app_pays_new') }}">Nouveau pays</a>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Id du pays</th>
                <th class="text-center">Nom du pays</th>
                <th class="text-center">Continent</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pay in pays %}
            <tr>
                <td class="text-center">{{ pay.idPays }}</td>
                <td class="text-center">{{ pay.nomPays }}</td>
                <td class="text-center">{{ pay.idContinent }}</td>
                <td class="text-center">
                    <a role="button" class="btn btn-light" href="{{ path('app_pays_show', {'idPays': pay.idPays}) }}">Voir</a>
                    <a role="button" class="btn btn-info" href="{{ path('app_pays_edit', {'idPays': pay.idPays}) }}">Modifier</a>
                    <a role="button" class="btn btn-primary" href="{{ path('app_pays_delete', {'idPays': pay.idPays}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
