{% extends 'base.html.twig' %}

{% block title %}Marque index{% endblock %}

{% block body %}
    <h1>Liste des marques</h1>
    <a role="button" class="btn btn-info mb-2" href="{{ path('app_marque_new') }}">Nouvelle marque</a>
    <div style="height: 400px" class="table-responsive d-inline-block" overflow: auto>
    <table class="table table-bordered border-light table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id de la marque</th>
                <th>Nom de la marque</th>
                <th>Fabriquant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marque in marques %}
            <tr>
                <td>{{ marque.idMarque }}</td>
                <td>{{ marque.nomMarque }}</td>
                <td>{{ marque.idFabricant }}</td>
                <td>
                    <a role="button" class="btn btn-light" href="{{ path('app_marque_show', {'idMarque': marque.idMarque}) }}">Voir</a>
                    <a role="button" class="btn btn-info" href="{{ path('app_marque_edit', {'idMarque': marque.idMarque}) }}">Modifier</a>
                    <a role="button" class="btn btn-primary" href="{{ path('app_marque_edit', {'idMarque': marque.idMarque}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
