{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>
        <a role="button" class="btn btn-info mb-2" href="{{ path('app_article_new') }}">Nouvel article</a>
<div style="height: 400px" class="table-responsive d-inline-block" overflow: auto>
    <table class="table table-bordered border-light table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Id de l'article</th>
                <th class="text-center">Nom de l'article</th>
                <th class="text-center">Prix d'achat</th>
                <th class="text-center">Volume</th>
                <th class="text-center">Titrage</th>
                <th class="text-center">Couleur</th>
                <th class="text-center">Marque</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td class="text-center">{{ article.idArticle }}</td>
                <td class="text-center">{{ article.nomArticle }}</td>
                <td class="text-center">{{ article.prixAchat }}</td>
                <td class="text-center">{{ article.volume }}</td>
                <td class="text-center">{{ article.titrage }}</td>
                <td class="text-center">{{ article.idCouleur }}</td>
                <td class="text-center"> {{ article.idMarque }}</td>
                <td class="text-center">
                    <a role="button" class="btn btn-light" href="{{ path('app_article_show', {'idArticle': article.idArticle}) }}">Voir</a>
                    <a role="button" class="btn btn-info" href="{{ path('app_article_edit', {'idArticle': article.idArticle}) }}">Modifier</a>
                    <a role="button" class="btn btn-primary" href="{{ path('app_article_delete', {'idArticle': article.idArticle}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
